# 歌曲文件路径
SONGS_FILE=unique_songs_by_name_part1.json
TEST_SONGS_FILE=test_songs.json

# 评论offset保存目录
OFFSET_DIR=/ssd/music/comments/offset

# 下载进度文件
PROGRESS_FILE=/ssd/music/comments/progress.json

# API配置
BASE_URL=http://localhost:4000/comment/music

# 并发配置
CONCURRENCY=10
SONG_CONCURRENCY=5
DELAY=0.8

# MongoDB配置
MONGO_URI=mongodb://localhost:27017/
MONGO_DB=netease
MONGO_COLLECTION=comments

# 歌词API配置
LYRIC_API_URL=http://localhost:4000/lyric
SONGS_FILE=/home/luke/code_project/botCrawl/unique_songs_by_name_part1.json
